<?php
return [
  'db' => [
    'host' => '127.0.0.1',
    'name' => 'biome_univers',
    'user' => 'root',   // XAMPP par défaut
    'pass' => '',       // XAMPP par défaut
    'charset' => 'utf8mb4',
  ],
];
